.App {
  text-align: center;
  
}
.App-header{
  display: flex;
  
}
.App-logo-l,.App-logo-r, .App-log {
  height: 40vmin;
  pointer-events: none;
}

.left-side, .right-side{
  height: 100%;
  width: 25%;
}
.middle-side{
  max-width: 300px;
  min-width: 300px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo-l {
    animation: App-logo-spin-l infinite 1s linear;
  }
  .App-logo-r{
    animation: App-logo-spin-r infinite 1s linear;
  }
}

.App-header {
  width: 100%;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin-l {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App-logo-spin-r {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

p{
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 217, 0);
  text-shadow: 2px 2px #FF0000;
}

img{
  box-shadow: 2px 2px #FF0000;
}
.tae{
  width: 100%;
  height: 200px;
  margin: 0 auto;
}
#weyel{
  position: relative;
  background-color: white;
  left: 127px;
  top: -168px;
}
#weyer{
  position: relative;
  background-color: white;
  left: 157px;
  top: -179px;

}
#weyer, #weyel{
  width: 18px;
  height: 10px;
}
.App-log{
  position: relative;
  top:0px;
  left: 0px;
  z-index: 1;
}
.eyes{
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: black;
  border-radius: 50%;
  top:0px !important;
  left: 0px !important;
}